{% set bodyClass = 'home' %}

{% extends "default/_layouts/site" %}

{% block main %}

<!-- Hero -->
{#
{% set image = entry.image.one() %}
<div class="image--24-1 align-center-middle">

  <div class="grid-y grid-padding-x height-100 align-center content" data-aos="fade-in">
    <div class="shrink cell">

      <div class="grid-x">
        <div class="small-12 cell text-center white">
        <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
Test
        </div>
      </div>

    </div>
  </div>
#}

  {% if entry.video %}
      <div class="grid-x viewheight">
        <div class="small-12 cell text-center white">
          <div class="vimeo-wrapper">
             <iframe src="https://player.vimeo.com/video/316819254?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
  {% endif %}

{#
  <div class="grid-y grid-padding-x height-100 align-right scrollarrow" data-aos="fade-in">
    <div class="shrink cell">

      <div class="grid-x padding-vertical-2">
        <div class="small-12 cell text-center white">
        <a data-scroll href="#page__content"><svg class="icon icon-arrow-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-down"></use></svg></a>
        </div>
      </div>

    </div>
  </div>

</div>
#}
<!-- End Hero -->

<!-- Layout -->
<div class="grid-x grid-padding-x grid-padding-y">
  
  {% set projectsQuery = entry.projects.all() %}

  {% for project in projectsQuery %}
    <div class="{{ project.width.value }} cell">

        {% set item = project.project.one() %}
        <a href="{{ item.url }}">
          {% set image = item.image.one() %}

          {% switch project.width.label %}
          {% case "1/6" %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-4" %}">
          {% case "1/3" %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-4" %}">
          {% case "1/2" %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-6" %}">
          {% case "2/3" %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-6" %}">
          {% case "5/6" %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
          {% case "1/1" %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
          {% default %}
            <div class="margin-bottom-1 image--24-1 act--link" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
          {% endswitch %}

          {% if project.featured %}
              <div class="content grid-y align-center show-for-medium">
                <div class="shrink cell padding-1 text-center">
                  <svg class="icon icon-play_arrow margin-top-1"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg>
                  <div class="sans-regular text-center"><span class="project__title sans-bold text-uppercase">{{ item.title }}</span>{% if item.client %}<span class="dark-gray project__client padding-left-1">{{ item.client }}</span>{% endif %}</div>
                </div>
              </div>
          {% else %}
              <div class="content grid-y align-center act__hover">
                <div class="shrink cell padding-1 text-center">
{#                   <svg class="icon icon-play_arrow margin-top-1"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg> #}
                </div>
              </div>
          {% endif %}
          </div>
          
          {% if project.featured %}
          <div class="sans-regular text-center show-for-small-only"><span class="project__title sans-bold text-uppercase">{{ item.title }}</span>{% if item.client %}<span class="dark-gray project__client padding-left-1">{{ item.client }}</span>{% endif %}</div>
          {% else %}
          <div class="sans-regular text-center"><span class="project__title sans-bold text-uppercase">{{ item.title }}</span>{% if item.client %}<span class="dark-gray project__client padding-left-1">{{ item.client }}</span>{% endif %}</div>
          {% endif %}
        </a>

    </div>
  {% endfor %}

</div>
<!-- End Layout -->


{% endblock %}
